<section id="features" class="features | text-center | bg-primary-400">
    <div class="container | flow">
        <h2 class="section-title">{{ .section.headline }}</h2>
        <p class="section-subtitle">{{ .section.subtitle }}</p>
       
        <div class="wrapper">
            
            <div class="features-wrapper | flow">
                {{ range first 3 .section.items }}
                    {{ partial "feature_card.html" (dict "context" .) }}
                {{ end }}
            </div>

            {{ partial "image.html" (
                dict "resourceSrc" (resources.GetMatch .section.img_path ) 
                    "width" 300
                    "altText" .section.img_alt) }}


            <div class="features-wrapper | flow">
                {{ range last 3 .section.items }}
                    {{ partial "feature_card.html" (dict "context" . "class" "inversed") }}
                {{ end }}
            </div>
        </div>
    </div>
</section>