:root {
    --ff-sans: sans-serif;
    --ff-serif: serif;
  
    --fs-8: 0.5rem;
    --fs-12: 0.75rem;
    --fs-14: 0.875rem;
    --fs-16: 1rem;
    --fs-18: 1.125rem;
    --fs-20: 1.25rem;
    --fs-22: 1.1.25rem;
    --fs-24: 1.5rem;
    --fs-32: 2rem;
    --fs-36: 2.25rem;
    --fs-40: 2.5rem;
    --fs-48: 3rem;
  
  
    --fs-100: var(--fs-8);
    --fs-200: var(--fs-12);
    --fs-300: var(--fs-14);
    --fs-400: var(--fs-16);
    --fs-500: var(--fs-18);
    --fs-600: var(--fs-20);
    --fs-700: var(--fs-22);
    --fs-800: var(--fs-24);
    --fs-900: var(--fs-32);
  
  
    --spacing-8: 0.5rem;
    --spacing-16: 1rem;
    --spacing-24: 1.5rem;
    --spacing-32: 2rem;
    --spacing-40: 2.5rem;
    --spacing-48: 3rem;
    --spacing-56: 3.5rem;
    --spacing-64: 4rem;
    --spacing-80: 5rem;
    --spacing-96: 6rem;
    --spacing-160: 10rem;
  
    --fw-200: 200;
    --fw-300: 300;
    --fw-400: 400;
    --fw-700: 700;
  
    --borr-circle: 100vh;
    --borr: 0.5rem;
  
  
    --primary-400: #2f2c3d;
    --primary-500: #262431;
  
    --accent-400: #08c0dd;
  
    --neutral-100: #ffffff;
    --neutral-300: #454a4d;
    --neutral-400: rgb(159, 156, 175);
    
  
  }