.preview {
    --flow-space: var(--spacing-16);
    padding-block: var(--spacing-96);
    background-image: url("/images/header-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  
    .img-wrapper {
      --flow-space: var(--spacing-24);
      position: relative;
  
      button {
        position: absolute;
        inset: 0;
        margin: auto; 
        border: none;      
        inline-size: 50px;
        block-size: 50px;
  
        background: var(--accent-400);
        border-radius: var(--borr-circle);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
        scale: 1;
        animation: pulse-black 2s infinite;
  
        display: grid;
        place-content: center;
  
      }
  
      svg {
        inline-size: var(--fs-16);
        fill: var(--neutral-100);
      }
    }
  
    img {
      margin-inline: auto;
      border-radius: var(--borr);
    }
    
  }